
.search-background {
  background-color: #eeeeee;
  font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto, Arial, sans-serif;
}


img {
  .result-img {
    width: 180px;
    height: 180px;
    border-radius: 4px;
  }
}

.custom-stack {
  flex-direction: column;
  width: 100%;

}